<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
        <h1 class="display-4">List of members</h1>
        <% members.forEach(member => { %>
          <div class="list-group">
          <a href="/members/<%= member.id %>" class="list-group-item list-group-item-action"><%= member.name %></a>
        </div>
        <% }); %>
        <hr style="border-bottom: 1px solid blue;" />
        <form class="form-inline" method="POST" action="/members">
          <input type="text" class="form-control mb-2 mr-sm-2" name="name" placeholder="Name" required>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" name="email" placeholder="Email" required>
          </div>
  
          <button type="submit" class="btn btn-outline-primary mb-2">Create a new</button>
        </form>
        <hr style="border-bottom: 1px solid blue;" />
        <a href="/api/members"><span class="badge badge-dark">Visit API</span></<a>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
